 
 .blogImage{
    border-radius: 5px 5px 0 0;
    position: relative;
 }
 
 .blogTitle{
     display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.3;
    color: #232425;
    text-align: center;
 }
 .blogInfo{
     font-size: 1.2rem;
     padding: 1rem 0 2rem;
     text-align: center;
     font-weight: 600;
 }
 .blogPost{
     font-size: 1.5rem;
     overflow-wrap: break-word;
     color: #232425;
     padding: 0rem 2rem 4rem 2rem;
 }

 .card{
     box-shadow: 1px 3px #f3f3f3;
     background-color: #fff;
 }