*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav a{
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: 600;
}
aside{
  background-color: '#fff'
}
aside p{
  font-family: 'Poppins', sans-serif !important;
  color: #525252 !important;
}
aside h2{
  font-family: 'Poppins', sans-serif ;
  font-weight: 600;
}