*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
p{
  font-family: 'montserrat';
  line-height: 2.5rem;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav a{
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: 600;
}
aside{
  background-color: '#fff'
}
aside p{
  font-family: 'Poppins', sans-serif !important;
  color: #525252 !important;
}
aside h2{
  font-family: 'Poppins', sans-serif ;
  font-weight: 600;
}
.css-11yukd5-MuiTabs-indicator{
  background-color: #fff;
}
img{
    width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5{
  font-family: 'Poppins' !important;
}
.css-10hburv-MuiTypography-root{
  font-family: 'montserrat';
}
.css-o69gx8-MuiCardMedia-root {
  font-size: 1rem !important;
  line-height: 1.63 !important;
}