.nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2rem 6em;
    background-color: #fff;
}
.navmenuSection{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0rem 1rem;
}
.navLink{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #000;
    font-weight: 500;
    transition: 1s all ease;
    cursor: pointer;
}
.navLink:hover{
    color: #0C5536;
}