.searchField{
    width: 100%;
    padding: 1rem 2rem;
}
.submitBtn{
    padding: 1.1rem 3rem;
    margin-top: 1rem;
    background-color: #0C5536;
    border: none;
    color: #fff;
    transition: 1s all ease;
}
.submitBtn:hover{
    background-color: #032416;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .24)
}