.slideshow{
    background-image: url('../public/images/slideshow.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 8rem;
    height: 40vh;
    color: #f4f4f4;
}
.title{
    font-size: 4rem;
}
.description{
    font-size: 1.4rem !important;
    line-height: 1.5;
    padding-top: 2rem;
    text-align: center;
}