.slideshow{

    background-image: url('../public/images/moroccan-flower-dark.png');
    background-color: #061942;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 14rem;
    color: #f4f4f4;
    margin-top: .2rem;
}

.title{
    font-size: 3rem;
}
.description{
    font-family: 'Poppins', sans-serif !important;
    font-size: 1.5rem ;   
    line-height: 1.5;
    padding-top: 1rem;
    text-align: center;
}
@media (max-width:600px) {
    .slideshow{
        padding: 1rem;
        margin-top: 1rem;
    }
    .description{
        font-size: 1.3rem;
    }
}