.slideshow{
    background-image: url('../public/images/moroccan-flower-dark.png');
    background-color: #061942;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 14rem;
    color: #f4f4f4;
    margin-top: .2rem;
}

.title{
    font-size: 3rem;
}
.description{
    font-size: 1.5rem !important;   
    line-height: 1.5;
    padding-top: 1rem;
    text-align: center;
}
@media (max-width:900px) {
    .slideshow{
        padding: 2rem 4rem;
    }
}
@media (max-width:600px) {
    .slideshow{
        background-image: url('../public/images/moroccan-flower-dark-small.jpg');
        padding: .8rem;
        margin-top: 1rem;
    }
    .description{
        font-size: 1.3rem !important;
    }
}
@media (max-width:375px) {
    .description{
        font-size: 1.1rem !important;
        padding-top: 0;
    }
}